.wrapper {
  width: 80%;
  margin: 10px auto;
}

#query-input {
  display: block;

  height: 300px;
  margin-bottom: 20px;
}

#query-explain, #query-submit {
  margin: 0 auto 30px;
  padding: 10px 40px;

  border: none;
  border-radius: 4px;

  color: #fff;
}

#query-submit {
  background-color: #36b272;
}

#query-explain {
  background-color: #5d7194;
}
