<div class="bandera" id="analytics">
    <table id="table" data-type="current_locks">
        <thead>
            <tr>
                <th>locktype</th>
                <th>database_name</th>
                <th>relation_name</th>
                <th>page</th>
                <th>pid</th>
                <th>mode</th>
                <th>granted</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>
</div>

<script id="template" type="text/ractive">
    {{#each data}}
        <tr>
            <td>{{locktype}}</td>
            <td>{{database_name}}</td>
            <td>{{relation_name}}</td>
            <td>{{page}}</td>
            <td>{{pid}}</td>
            <td>{{mode}}</td>
            <td>{{granted}}</td>
        </tr>
    {{/each}}
</script>
