<div class="bandera" id="analytics">
    <table id="table" data-type="index_dupes">
        <thead>
            <tr>
                <th>size</th>
                <th>idx1</th>
                <th>idx2</th>
                <th>idx3</th>
                <th>idx4</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>
</div>

<script id="template" type="text/ractive">
    {{#each data}}
        <tr>
            <td>{{size}}</td>
            <td>{{idx1}}</td>
            <td>{{idx2}}</td>
            <td>{{idx3}}</td>
            <td>{{idx4}}</td>
        </tr>
    {{/each}}
</script>
