<div class="bandera" id="analytics">
    <table id="table" data-type="index_sizes">
        <thead>
            <tr>
                <th>tablename</th>
                <th>indexname</th>
                <th>num_rows</th>
                <th>table_size</th>
                <th>index_size</th>
                <th>unique</th>
                <th>number_of_scans</th>
                <th>tuples_read</th>
                <th>tuples_fetched</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>
</div>

<script id="template" type="text/ractive">
    {{#each data}}
        <tr>
            <td>{{tablename}}</td>
            <td>{{indexname}}</td>
            <td>{{num_rows}}</td>
            <td>{{table_size}}</td>
            <td>{{index_size}}</td>
            <td>{{unique}}</td>
            <td>{{number_of_scans}}</td>
            <td>{{tuples_read}}</td>
            <td>{{tuples_fetched}}</td>
        </tr>
    {{/each}}
</script>
