<div class="bandera" id="analytics">
    <table id="table" data-type="index_bloat">
        <thead>
            <tr>
                <th>schemaname</th>
                <th>tablename</th>
                <th>reltuples</th>
                <th>relpages</th>
                <th>otta</th>
                <th>tbloat</th>
                <th>wastedpages</th>
                <th>wastedbytes</th>
                <th>wastedsize</th>
                <th>iname</th>
                <th>ituples</th>
                <th>ipages</th>
                <th>iotta</th>
                <th>ibloat</th>
                <th>wastedipages</th>
                <th>wastedibytes</th>
                <th>wastedisize</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>
</div>

<script id="template" type="text/ractive">
    {{#each data}}
        <tr>
            <td>{{schemaname}}</td>
            <td>{{tablename}}</td>
            <td>{{reltuples}}</td>
            <td>{{relpages}}</td>
            <td>{{otta}}</td>
            <td>{{tbloat}}</td>
            <td>{{wastedpages}}</td>
            <td>{{wastedbytes}}</td>
            <td>{{wastedsize}}</td>
            <td>{{iname}}</td>
            <td>{{ituples}}</td>
            <td>{{ipages}}</td>
            <td>{{iotta}}</td>
            <td>{{ibloat}}</td>
            <td>{{wastedipages}}</td>
            <td>{{wastedibytes}}</td>
            <td>{{wastedisize}}</td>
        </tr>
    {{/each}}
</script>
