<div class="bandera" id="analytics">
    <table id="table" data-type="index_summary">
        <thead>
            <tr>
                <th>relname</th>
                <th>rows_in_bytes</th>
                <th>num_rows</th>
                <th>number_of_indexes</th>
                <th>unique</th>
                <th>single_column</th>
                <th>multi_column</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>
</div>

<script id="template" type="text/ractive">
    {{#each data}}
        <tr>
            <td>{{relname}}</td>
            <td>{{rows_in_bytes}}</td>
            <td>{{num_rows}}</td>
            <td>{{number_of_indexes}}</td>
            <td>{{unique}}</td>
            <td>{{single_column}}</td>
            <td>{{multi_column}}</td>
        </tr>
    {{/each}}
</script>
