<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Mammoth</title>
</head>
<body>
	<header>
	  <nav>
	  	<ul>
	  		<li><a href="#">Dashboard</a></li>
	  		<li><a href="#">Query</a></li>
	  		<li><a href="#">Tables</a></li>
	  	</ul>
	  </nav>
	</header>
	<%= yield %>
</body>
</html>
