<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Mammoth</title>
    <link rel="stylesheet" href="/css/vendor/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/app/main.css" type="text/css" media="screen">
</head>
<body>
    <header role="main">
        <h1><img src="/img/logo.png" alt="mammoth" /></h1>
        <nav>
            <ul>
                <li>
                    <a href="/manage" class="<%= 'current' if controller == 'manage' %>">
                        <i class="fa fa-database"></i>
                    </a>
                </li>
                <li>
                    <a href="/analytics" class="<%= 'current' if controller == 'analytics' %>">
                        <i class="fa fa-bar-chart"></i>
                    </a>
                </li>
                <li>
                    <a href="/query" class="<%= 'current' if controller == 'query' %>">
                        <i class="fa fa-terminal"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <%= yield %>
</body>
</html>
