<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Mammoth</title>
	<link rel="stylesheet" href="/css/vendor/normalize.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/app/main.css" type="text/css" media="screen">
</head>
<body>
	<header role="main">
	  <nav>
	  	<ul>
	  		<li>
					<a href="/manage">
						<i class="fa fa-database"></i>
					</a>
				</li>
	  		<li>
					<a href="/anal">
						<i class="fa fa-bar-chart"></i>
					</a>
				</li>
	  		<li>
					<a href="/query">
						<i class="fa fa-terminal"></i>
					</a>
				</li>
	  	</ul>
	  </nav>
	</header>
	<%= yield %>
</body>
</html>
