<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Mammoth</title>
    <link rel="stylesheet" href="/css/vendor/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/app/landing.css" type="text/css" media="screen">
</head>
<body>
    <header>
        <h1><img src="/img/logo.png" alt="mammoth" /></h1>
        <h2>PostgreSQL on steroids</h2>
        <h3>Mammoth is your one-stop Postgres realtime performance analysis tool.</h3>
    </header>
    <section>
				<p>Fill the input below with your connection string or leave it empty to generate your own demo database</p>
				<form method="post" action="/pg_creds/new">
					<input type="text" name="connection_string" class="connection_string" placeholder="postgres://user:password@server:port/database"/>
					<button>Try now!</button>
				</form>
        <p>
            Built from the ground up by the team of engineers who have been using Postgres for years, Mammoth is a standalone open source Web application that is both free and easy to use. Designed with simplicity in mind, it helps to reveal performance bottlenecks and other problems that are often notoriously difficult to debug.
        </p>
        <p>
		      And Mammoth doesn't just whine! It also suggests ways to improve the performance and fix the most common problems. For those interested it also presents breathtaking view into what is currently happening in a modern advanced relational database.
    		</p>
    		<p>
        	Mammoth provides:
      	</p>
      	<ul>
          <li>instant snapshot of currently running queries and the locks they hold</li>
          <li>deep insight into table indexes and their usage</li>
          <li>disk space and I/O utilization</li>
      	</ul>
        <p>
            &hellip; and lots of other incredibly useful metrics and statistics, most of which usually require profound understanding of Postgres internals.
        </p>
        <p>
            Be your own DBA. Use Mammoth.
        </p>
    </section>
<!-- Place this before your </body> tag. -->
<script type="text/javascript">
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "top"; // Optionally replace with "bottom".
</script>
<script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2014.js" type="text/javascript"></script>
<!-- Place this code before your site's </body> tag. -->
<script type="text/javascript" charset="utf-8">
  var _swell_site_ids = _swell_site_ids || [];
  _swell_site_ids.push('ace6c09c');
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//df50assd5876f.cloudfront.net/hello.js';
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
</script>
<noscript>
  <img src="//heyswell.com/v1/hello.gif?sites=ace6c09c&javascript=0"/>
</noscript>
</body>
</html>
